# VNSTOCK API Key (Lấy miễn phí tại https://vnstocks.com/account#api-key)
VNSTOCK_API_KEY=""

# TELEGRAM BOT (Dành cho việc nhận cảnh báo tín hiệu vào điện thoại/máy tính)
# Tạo bot tại @BotFather trên Telegram để lấy TELEGRAM_BOT_TOKEN
# Lấy Chat ID của bạn tại @userinfobot trên Telegram
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
